.HomePageDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePageDescription-logo {
  width: 40%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  .v-img {
    max-width: 400px;
    margin: auto;
  }
}

.HomePageDescription-inner {
  width: 60%;
  padding: 40px;
}

.HomePageDescription-link {
  margin-left: auto;
  display: flex !important;
  position: relative;
  right: -20px;
  margin-top: 40px;
}
