.HomePageDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePageDescription-logo {
  width: 40%;
  padding: 40px;
}

.HomePageDescription-text {
  width: 60%;
  padding: 40px;
}
