.ProjectsSlide {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "MoonBold";
}

.ProjectsSlide-illustration {
  width: 800px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 20px;
  img {
    border-radius: 20px;
  }
}

.ProjectsSlide-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.ProjectsSlide-companyLogo {
  width: 100px;
}

.ProjectsSlide-button a {
  color: #D64045 !important;
}