#app {
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  @media ($mq-upto-tablet) {
    overflow: hidden;
  }
}

.ContentList-container {
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}


// COLORED CONTAINER

.ColoredContainer {
  color: #fff;
  padding: 40px;
  position: relative;
  width: 90%;

  &-left {
    text-align: right;
  }

  &-right {
    text-align: left;
  }
}

.ColoredContainer.ColoredContainer-right {
  margin-left: auto;
}
.ColoredContainer.ColoredContainer-left {
  margin-right: auto;
}

.ColoredContainer-left .Title-underline:after {
  left: 0;
  right: auto;
}
.ColoredContainer-right .Title-underline:after {
  right: 0;
  left: auto;
}



// RESPONSIVE

@media ($mq-upto-tablet) {
  .ColoredContainer {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
  }
  .GlobalContainer {
    position: relative;
  }

  .GlobalContainer:before {
    content: '';
    top: -100px;
    height: 100px;
    background-color: aliceblue;
    width: 100%;
    position: absolute;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

}
