.mobileOnly {
  @media ($mq-from-tablet) {
    display: none !important;
  }
}
.desktopOnly {
  @media ($mq-upto-tablet) {
    display: none !important;
  }
}

.phoneAndTabletOnly {
  @media ($mq-desktop) {
    display: none !important;
  }
}

.tabletAndDesktopOnly {
  @media ($mq-phone) {
    display: none !important;
  }
}