h1, h2, h3, h4 {
  font-family: "MoonBold";
}

.Title-center {
  text-align: center;
}

.Title-underline {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 80%;
    border-top: 2px solid rgba(#000, 0.4);
    left: 0;
    bottom: -10px;
  }
}

.Title-underline.rightAlign {
  text-align: right;

  &:after {
    left: auto;
    right: 0;
  }
}

.Title-underline.whiteTitle:after {
  border-top: 2px solid rgba(#fff, 0.4);
}

// RESPONSIVE

@media ($mq-phone) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .Title-underline {
    text-align: center;

    &:after {
      width: 100%;
    }
  }
}
