.ProjectsRelated {
  position: relative;
  top: -600px;
}

.ProjectsRelated-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}