.AboutMeDescription {
  margin: 60px auto;
}

.AboutMeDescription-container {
  padding: 60px 40px 60px 300px !important;
  max-width: 80%;
  margin-left: auto;
}

.AboutMeDescription .Title-underline {
  margin-bottom: 60px;
}