.ExperiencesTimeline {
  margin-top: 150px;
  position: relative;
}

.v-timeline .v-timeline-divider__inner-dot {
  background: inherit !important;
}

.v-timeline-divider__dot--size-default {
  height: 100px !important;
  width: 100px !important;
}

.ExperiencesTimeline-icon {
  width: 90%;
  height: 90%;
  background-size: contain;
  background-position: center;
}

.ExperiencesTimeline-opposite {
  font-family: "MoonBold", Helvetica, Arial;
}

.ExperiencesTimeline-end {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(var(--v-border-color), var(--v-border-opacity));
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 32px;
  color: #D64045;

  &:after {
    position: absolute;
    content: '';
    border: 1px dashed #ddd;
    height: 200px;
    bottom: -200px;
  }
}

.ExperiencesTimeline-iconHand {
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
  right: 45px;
  position: relative;
  bottom: 200px;
  z-index: -1;
  opacity: 0.8;
}

// RESPONSIVE


@media ($mq-phone) {
  .v-timeline-divider__dot--size-default {
    width: 50px !important;
    height: 50px !important;
  }
  .ExperiencesFull-container {
    position: relative;
  }

  .ExperiencesTimeline-iconHand {
    right: auto;
  }

  .ExperiencesTimeline {
    margin-bottom: 60px;
  }

  .ExperiencesTimeline-end {
    margin-top: 200px;
    top: -200px;
    left: 5px;
    width: 200px;
    height: 200px;
  }
}

@media ($mq-upto-tablet) {
  .ExperiencesTimeline {
    margin-top: 0;
  }
}