.Menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  background-color: aliceblue;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.20s ease-in-out;
}

.Menu.display {
  z-index: 1005;
  opacity: 1;
  transition: opacity 0.20s ease-in-out;
}

.Menu-ItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.Menu-ItemContainer:hover .Menu-ItemImagesLayer {
  opacity: 1;
  transition: all 0.25s ease-in-out;
  filter: blur(0);
}

.Menu-ItemImagesLayer {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(240,248,255, 0.5);
  filter: blur(4px);
}

.Menu-ItemImagesLayer .Menu-ItemImages {
  max-height: 700px;
}

.Menu-ItemContainer:nth-child(odd) .Menu-ItemImagesLayer {
  left: 0;
}

.Menu-ItemContainer:nth-child(even) .Menu-ItemImagesLayer {
  right: 0;
}

.Menu-ItemImagesLayer img {
  opacity: 0.7;
}

.Menu-ItemContainer a {
  font-family: "MoonBold";
  color: rgba(0,0,0,0.7);
  font-size: 20px;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    border-top: 2px solid rgba(0,0,0,0.8);
    width: 0;
    transition: width 0.25s ease-in-out;
  }
}

.Menu-ItemContainer:hover a {
  color: rgb(0,0,0);
  transition: color 0.25s ease-in-out;
  &:after {
    width: 100%;
    transition: width 0.25s ease-in-out;
  }
}