.HomePageProjectsSimple {
  background-color: $red-color;
}

.HomePageProjectsSimple-description {
  margin-top: 60px;
  width: 50%;
  margin-left: auto;
  margin-right: 120px;
}


.HomePageProjectsSimple-devIcon:not(.mobile)  {
  display: none;
  @media ($mq-from-tablet) {
    display: block;
    position: absolute;
    left: 0;
    top: 250px;
    width: 30%;
    height: 40%;
    transform: rotateY(180deg);
    opacity: 0.9;
  }
}

.HomePageProjectsSimple-logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  margin: 60px -150px 60px auto;
  background-color: rgba(255,255,255, 1);
  border-radius: 20px;
  border: 4px solid #000;
  padding: 40px;
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
}

.HomePageProjectsSimple-logo {
  width: 250px;
  height: 100px;
  margin: 40px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// RESPONSIVE

@media ($mq-phone) {
  .HomePageProjectsSimple {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .HomePageProjectsSimple-devIcon {
    flex-direction: column;
    width: 10rem;
    margin: 40px auto auto auto;
  }
  .HomePageProjectsSimple-description {
    display: none;
  }

  .HomePageProjectsSimple-logoContainer {
    margin: 60px 0 60px 0;
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .HomePageProjectsSimple-logo {
    width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 40px;
  }

  .HomePageProjectsSimple-devIcon {
    margin: inherit;
    position: absolute;
    top: -75px;
  }
}

.carousel__pagination.WhitePagination {
  top: 40px;
  position: relative;
}

.WhitePagination .carousel__pagination-button::after {
  background-color: rgba(255,255,255,0.5);
}

.WhitePagination .carousel__pagination-button.carousel__pagination-button--active:after {
  background-color: rgba(255,255,255,1);
}

.carousel__prev {
  left: -45px;
}

.carousel__next {
  right: -45px;
}

@media ($mq-tablet) {
  .HomePageProjectsSimple-logoContainer {
    width: 70%;
    margin: 60px -50px 60px auto;
    padding: 40px 0;
  }


  .carousel__prev {
    left: -60px;
    color: black !important;
  }

  .carousel__next {
    right: -60px;
    color: black !important;
  }

  .carousel__pagination.WhitePagination {
    top: 80px;
  }
}

@media ($mq-upto-tablet) {

  .HomePageProjectsSimple-logo {
    margin: 0;
  }

  .HomePageProjectsSimple-logoContainer.phoneAndTabletOnly .carousel {
    width: 100%;
    a {
      width: 100%;
    }
  }
}