.AboutMeTravels-descriptionContainer {
  padding: 60px 300px 60px 40px !important;
  max-width: 80%;;
  margin: 100px auto 100px 0;
}

.AboutMeTravels-descriptionLogo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  right: -200px;
}