.AboutMeTravels-descriptionContainer {
 padding: 40px !important;
  margin: 40px 0;
}

// RESPONSIVE

@media ($mq-desktop) {
  .AboutMeTravels-descriptionContainer {
    padding: 60px 300px 60px 40px !important;
    max-width: 80%;;
    margin: 100px auto 100px 0;
  }

  .AboutMeTravels-descriptionLogo {
    position: absolute;
    width: 400px;
    height: 400px;
    top: -100px;
    right: -200px;
  }
}

@media ($mq-tablet) {
  .AboutMeTravels-descriptionLogo {
    width: 30%;
    margin: auto;
  }
  .AboutMeTravels {
    padding-bottom: 200px !important;
  }
}

@media ($mq-phone) {

    .AboutMeTravels {
      padding-bottom: 200px !important;
    }

}
@media ($mq-upto-tablet) {

  .AboutMeTravels-descriptionContainer {
    margin: 0 auto 40px;
  }

}
