.ProjectsList-container {
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ProjectsList-filtersContainer {
  width: 25%;
  margin: 40px;
  height: 100%;
  align-self: flex-start;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.ProjectsList-projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  padding-right: 30px;
}

// FILTERS
.ProjectsList-containerFilters h3 {
  margin-bottom: 20px;
  color: #D64045;
}

.ProjectsList-containerFiltersInner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.ProjectsList-filtersCompany {
  width: 120px;
  padding: 20px;
}

.ProjectsList-filtersLanguages {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  img {
    border-radius: 10px;
  }
}

.ProjectsList-filtersIcon {
  position: absolute;
  top: -10px;
  right: -10px;
}

.ProjectsList-filtersCompany, .ProjectsList-filtersLanguages {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  background-color: #fff;

  &.filtered {
    box-shadow: 5px 5px 20px rgba(#d64045, 0.7);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 5px 5px 20px rgba(#d64045, 0.7);
    }
  }

  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
}

.ProjectsList-resetFilters {
  color: #d64045;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

// RESPONSIVE

@media ($mq-phone) {
  .ProjectsList-projectContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media ($mq-upto-tablet) {
  .ProjectsList-container {
    margin-top: 0;
  }

  .ProjectsList-container {
    margin-bottom: 200px;
  }

  .ProjectsList-filtersContainer {
    display: none;
  }

  .ProjectsList-projectContainer {
    width: 100%;
    padding-right: 0;
  }
}