.HomePageLanguages {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  flex-wrap: wrap;
}

.ColoredContainer-left .HomePageLanguages {
  right: -200px;
  margin-left: auto;
  justify-content: flex-end;
}

.ColoredContainer-right .HomePageLanguages {
  left: -200px;
  justify-content: flex-start;
}

.HomePageLanguages-logos {
  width: 200px;
  height: 200px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// RESPONSIVE

@media ($mq-phone) {
  .HomePageSkills-description {
    display: none;
  }

  .HomePageSkills-categories .v-container {
    padding: 0;
  }

  .ColoredContainer-right .HomePageLanguages {
    left: 0;
  }

  .ColoredContainer-left .HomePageLanguages {
    right: 0;
  }

  .HomePageLanguages {
    justify-content: center;
  }

  .HomePageLanguages-logos {
    width: 50px;
    height: 50px;
    margin: 20px;
  }

  .HomePageSkills-categories {
    margin-bottom: 0;
    margin-top: 0;
  }

  .ColoredContainer-right .HomePageLanguages,
  .ColoredContainer-left .HomePageLanguages {
    justify-content: space-around;
  }
}

@media ($mq-tablet) {
  .HomePageLanguages {
    width: calc(100% + 150px);
  }

  .HomePageLanguages-logos {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  .ColoredContainer-right .HomePageLanguages {
    left: -125px;
  }

  .ColoredContainer-left .HomePageLanguages {
    right: -125px;
  }
}