.ProjectGallery:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 800px;
  background-color: aliceblue;
  left: 0;
  transform: skewY(-20deg);
  bottom: -350px;
}

.carousel {
  z-index: 9;
}

.ProjectGallery-galleryImage {
  width: 100%;
  margin-bottom: 60px;
  border-radius: 20px;
  border: 4px solid #fff;
}


.ProjectGallery-thumbnailsContainer {
  width: 250px;
  height: 150px;
  background-size: cover;
  cursor: pointer;
  border-radius: 20px;
  border: 4px solid #fff;
}