.Footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  background-color: $red-color;
  margin-top: 200px;
  position: relative;
  &:before {
    content: '';
    height: 200px;
    width: 100%;
    position: absolute;
    top: -100px;
    background-color: $red-color;
    left: 0;
    transform: skew(0, -5deg);
    z-index: -1;
  }
}

.Footer-socials, .Footer-contact {
  width: 30%;
  color: #fff;
}

.Footer-socials svg {
  width: 30px;
  color: #fff;
}

.Footer-socials .HomePageSocials-link {
  opacity: 1;
}

.Footer-contact {
  padding: 40px 0;
}

.Footer-contactContainer a {
    color: #fff;
}

.Footer-contactContainer h4 {
  margin-top: 20px;
}

.Footer-contactContainer {
  margin-top: 40px;
}

.Footer .Footer-contactImage {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -250px;
  right: 50px;
}

// RESPONSIVE

@media ($mq-phone) {
  .Footer {
    flex-direction: column-reverse;
    margin-top: -150px;
    padding-top: 0;
    padding-bottom: 100px;

    &:before {
      transform: inherit;
      z-index: 1;
      top: -74px;
      height: 75px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .Footer-socials, .Footer-contact {
    width: 100%;
  }

  .Footer .HomePageSocials {
    width: 100%;
  }

  .Footer .HomePageSocials-link .OverrideMalt {
    left: 0;
    top: 0;
  }

  .Footer .Footer-contactImage {
    z-index: 2;
    top: -150px;
    width: 150px;
    height: 150px;
    right: -10px;
  }

  .Footer-contactContainer {
    font-size: 18px;
    text-align: center;

    a {
      display: block;
      margin-top: 20px;
    }
  }
}