
.ProjectCard {
  display: flex;
  flex-direction: column;
  font-family: "MoonBold";
  width: calc(50% - 40px);
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #fff;
  position: relative;

  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
}

.ProjectCard-illustration {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ProjectCard-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.ProjectCard-companyLogo {
  width: 100px;
}

// RESPONSIVE

@media ($mq-tablet) {
  .ProjectCard {
    width: calc(100% - 40px);
  }
}

@media ($mq-phone) {
  .ProjectCard {
    width: calc(100% - 40px);
    margin: 20px 0;
  }

  .ProjectsRelated-container .ProjectCard {
    width: 100%;
  }

  .ProjectCard-description {
    flex-wrap: wrap;
  }
}