.HomePageSkills {
  margin-top: 40px;
}

.HomePageSkills-title {
  text-align: center;
}

.HomePageSkills-description {
  text-align: center;
  max-width: 800px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}