.HomePageSkills {
  margin-top: 40px;
}

.HomePageSkills-title {
  text-align: center;
  margin-bottom: 20px;
}

.HomePageSkills-description {
  text-align: center;
  max-width: 800px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.HomePageSkills-categories {
  margin-top: 40px;
  margin-bottom: 40px;
}

// RESPONSIVE

@media ($mq-phone) {
  @for $i from 3 through 5 {
    .HomePageSkills-categories:nth-child(#{$i}) {
      top: $i * -35px;
    }
  }
}

@media ($mq-tablet) {
  @for $i from 3 through 5 {
    .HomePageSkills-categories:nth-child(#{$i}) {
      top: $i * -50px;
    }
  }
}

@media ($mq-upto-tablet) {
  .HomePageSkills {
    margin-top: 0;
  }


  .HomePageSkills-categories {
    padding-bottom: 100px;
  }


}